@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  cursor: none;
}
.slide {
  display: inline-block;
  flex-direction: column;
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

@keyframes wordSlider {
  0% {
    transform: translateY(0.5%);
  }
  12.5% {
    transform: translateY(-12.5%);
  }
  25% {
    transform: translateY(-25%);
  }
  37.5% {
    transform: translateY(-37.5%);
  }
  50% {
    transform: translateY(-50%);
  }
  62.5% {
    transform: translateY(-62.5%);
  }
  75% {
    transform: translateY(-75%);
  }
  87.5% {
    transform: translateY(-87.5%);
  }
}

.text-secondary:hover {
  color: white;
}
.bell-hover:hover {
  color: white !important;
}
.small-padding {
  padding: 0.0625rem;
}
.profile-drawer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;                 
  backdrop-filter: blur(2px);   
  transform: translateX(100%);  
  transition: transform 0.3s ease;
  z-index: 1050;               
}
.profile-drawer.open {
  transform: translateX(0);     
}
.drawer-content {
  background:#021b38;
  color:#fff;
  
  height:100%;
  padding:1.5rem;
  border-left:1px solid #1152A2;
  overflow:auto;
}

.sidebar-slide {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}


.sidebar-slide.show {
  transform: translateX(0);
}

.slide-down {
  transform: translateY(-30px);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.4s ease-out;
}

.slide-down.show {
  transform: translateY(0);
  opacity: 1;
}



.fade-in-section {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-section.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 
.custom-flex-layout {
  flex-direction: column-reverse;
}

@media (min-width: 1280px) {
  .custom-flex-layout {
    flex-direction: row;
  }
}
.custom-hide-on-md {
  display: flex;
}

@media (min-width: 854px) {
  .custom-hide-on-md {
    display: none;
  }
}
.show-on-lg-up {
  display: none;
}

@media (min-width: 854px) {
  .show-on-lg-up {
    display: flex;
  }
}